//plugin
@import "../scss/plugin/boostrap";
@import "../scss/plugin/slick";
@import "../scss/plugin/slick-theme";
@import "../scss/plugin/jsSlider";
//XX Style
@import "../scss/style/color";
@import "../scss/style/fonts";
//@import "../scss/style/banner";
@import "../scss/style/btn";
//@import "../scss/style/card";
@import "../scss/style/img";
@import "../scss/style/nav";
//@import "../scss/style/nav2";
@import "../scss/style/nav3";
@import "../scss/style/navList";
@import "../scss/style/section";
@import "../scss/style/footer";
//@import "../scss/style/slick";
//element
//@import "../scss/elment/parallax";
@import "../scss/elment/search";
@import "../scss/elment/breadcrumb";
.breadcrumb {
    background-color: $white;
    //background-color: red;
    padding: .75rem 0rem;
    a {
        color: $spc-blue;
    }
}
.swiper-slide{
	border: solid 2px $gray-400;
		&:hover,:active,:focus {
			border: solid 2px $spc-blue;
		}
	}